{$DOMAIN:localhost}:80,
{$DOMAIN:localhost}:443 {
  handle_path /client/* {
    reverse_proxy /* http://client:8081
  }

  handle_path /game/* {
    reverse_proxy /* http://game:8082
  }

  handle_path /api/* {
    reverse_proxy /* http://server:3000
  }
}