#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  position: relative;
  height: 100%;
  color: white;
}
body {
  background-color: black;
  min-height: 100vh;
}
html,
body,
main {
  margin: 0;
  padding: 0;
  height: 100%;
}
button {
  cursor: pointer;
}
